# ==========================================================
# PYTHON
# ==========================================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# VIRTUAL ENVIRONMENT
# ==========================================================

.venv/
venv/
env/

# ==========================================================
# DJANGO
# ==========================================================

db.sqlite3
db.sqlite3-journal

staticfiles/

# ==========================================================
# ENVIRONMENT VARIABLES
# ==========================================================

.env
.env.*
!.env.example

# ==========================================================
# MEDIA
# ==========================================================

media/

# ==========================================================
# IDE / EDITOR
# ==========================================================

.vscode/
.idea/

# ==========================================================
# WINDOWS
# ==========================================================

Thumbs.db
Desktop.ini

# ==========================================================
# PYTHON TESTING / COVERAGE
# ==========================================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================================
# LOGS
# ==========================================================

*.log